.google-places-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
  }
  
/**************************************** Drivers list ******************************************************/

.driversList
{
    height: 90%;
    overflow:auto;
}

.driverContainer
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0rem 1rem;
    align-items: center;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    /* border-bottom: 1px solid #2d34365e; */
}

.driverContainer:hover
{
    background-color: #2d3436;
    color: white;
}

.rideFair
{
    font-weight: bolder;
}

.driverContainer img
{
    width: 80%;
}


.confirmRideBtn
{
    width: 90.1%;
    margin: 0 1rem;
    border: none;
    outline: none;
    background-color: #2d3436;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    position: fixed;
    bottom: 0;
}

.confirmRideBtn:hover{
    background: #76ABAE;
}

.driverIsSelected{
    background: #000;
    color: white;
}


.userMenuLink{
    color: #222831;
    text-decoration: none;
}


.navbar a{
    display: flex;
    align-items: center;
    color: #31363F;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.navProfile
{
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.navbar_driverStatus{
    margin-right: 1rem;
    font-size: 0.8rem;
}
.navbar_driverStatus{
    display: flex;
    align-items: center;
}
.driverStatus_icon{
    width: 12px;
    height: 12px;
    border-radius:10rem ;
    margin-right: 0.3rem;
}

.driverStatus_active_icon{
    background: green;
    box-shadow: 0 0 7px #2ecc71;
}
.driverStatus_away_icon{
    background: #c0392b;
    box-shadow: 0 0 7px #e74c3c;
}
.driverStatus_text{
    font-weight: bold;
}
.driverStatus_active_text{
    color: #27ae60;
}